{% load static %}
{% include 'base.html' %}


{% block content %}

<div class="table-responsive" style="margin-top: 150px;">
    <h2 class="text-center">View Patient</h2>
    <table  id="example" class="table table-hover ">
        <thead>
            <tr>
                <th >Patient Id</th>
                <th >Name </th>
                <th >Gender</th>
                <th >Mobile</th>
                <th >Address</th>
                <th >Update</th>
                <th >Delete</th>
                <!-- <th > <a href="{% url 'add_doctor' %}"> Add Doctor</a> </th>  -->
                
            </tr>
        </thead>
        <tbody>
        {% for i in patient %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.address}}</td>
            <td><a href="{% url 'update_patient' i.id %}" class="btn btn-info">Update</a></td>
            <td><a href="{% url 'delete_patient' i.id %}" onclick="return confirm('Are you sure you want to delete')" 
                class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}